pkgbase = c_formatter_42
	pkgdesc = C formatter for 42 norminette
	pkgver = 0.2.7
	pkgrel = 1
	url = https://github.com/dawnbeen/c_formatter_42
	arch = x86_64
	license = GPL
	depends = python>=3.8
	depends = python-setuptools
	depends = gcc-libs
	depends = zlib
	depends = glibc
	options = !debug
	source = c_formatter_42-0.2.7.tar.gz::https://github.com/dawnbeen/c_formatter_42/archive/refs/tags/v0.2.7.tar.gz
	b2sums = f1c08c7d6a3f52e6d830602424a714df4cec3e49e2d4bf5544f43d6a805e8ce0fe767c9ab72967286da10007ba712f734e5e30906568561b6e56a861052de3e1

pkgname = c_formatter_42
